html {
    width: 100%;
    height: 100%;
    background-color: #ecf0f3;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ecf0f3;
    flex-direction: column;
}

.HeadLine {
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
    font-weight: 500;
    color: #70b4ff;
    text-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    margin-top: 4rem;
    padding: 10rem;
    align-self: center;
    justify-self: center;
    text-decoration: none;
}

.Menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem;
    align-self: center;
    justify-self: center;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    background-color: transparent;

}

.Menu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;

}

.Menu button {
    display: flex;
    flex-direction: row;
    border: none;
    background-color: transparent;
    color: rgb(57, 57, 57);
    font-size: 2rem;
}

.Menu button:active {
    color: #70b4ff;
    animation-delay: 1s;
    border: none;
    background-color: transparent;
    inner-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

.Menu button: focus {
    color: #70b4ff;
    border: none;
    background-color: transparent;

}

.Menu motion.div {
    display: flex;
    flex-direction: row;
    position: relative;
    border: transparent;
    border: none;
    box-shadow: inset rgba(0, 0, 0, 0.5) -5px -5px 40px;
}

.Menu svg {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-top: 3.3rem;
    rotation-point: right bottom;
    border: transparent;
}

.MenuItemsHidden {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin: 0;
    width: 0;
    height: 0;
}

.MenuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    align-self: center;
    justify-self: center;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: rgba(156, 156, 156, 0.69);
    margin-bottom: 10rem;
}

.MenuItems button {
    display: flex;
    flex-direction: row;
    border: none;
    background-color: transparent;
    color: rgba(156, 156, 156, 0.69);
    font-size: 1.5rem;
}

.MenuItems button:active {
    color: #70b4ff;
    font-size: 2rem;
    animation-delay: 0.2s;
}

.root {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

div {
    display: flex;
    flex-direction: column;
}
